body{
    background-color: #777;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    text-align: center;
    color: #777;
}
.header{
    width: 960px;
    background-color: #ebebeb;
    margin: auto;
    margin-bottom: 10px;
    padding: 20px 0px;



} 
.nav{
    width: 960px;
    background-color: #ebebeb;
    margin: auto;
    margin-bottom: 10px;
    clear: both;
   padding: 20px 0px;
}

.container{
    width: 960px;
    margin: auto;
    overflow: auto;
}

.section{
width: 495px;
background-color: #ebebeb;
float: left;
overflow: auto;
padding: 20px 0px;
height: 200px;

}
.article{
    background-color: #777;
    color: #ebebeb;
    position: absolute;
    text-align: center;
    padding: 20px 0px;
    margin: 75px 10px;
    width: 475px;
    height: 115px;
}

.h1{
    position: absolute;
    z-index: 5;
    background-color: #ebebeb;
    color: #777;
    margin: 125px 30px;
    padding: 10px 0px;
    width: 435px;

}

.p{
    position: absolute;
    z-index: 5;
    background-color: #ebebeb;
    color: #777;
    margin: 175px 30px;
    padding: 10px 0px;
    width: 435px;
}
.aside{
    width: 455px;
    background-color: #ebebeb;
    margin-left: 10px;
    float: left;
    padding: 20px 0px;
    height: 200px;
    

}
.footer{
    width: 960px;
    background-color: #ebebeb;
    margin: auto;
    clear: both;
    padding: 20px 0px;

}