body{
    background-color: #777;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    text-align: center;
}
.header{
    width: 960px;
    background-color: #ebebeb;
    margin: auto;
    padding: 20px;



} 
.nav{
    width: 960px;
    background-color: #ebebeb;
    margin: auto;
    padding: 20px;
    


}
.section{
width: 495px;
background-color: #ebebeb;
margin: auto;

}
.aside{
    width: 495px;
    background-color: #ebebeb;
    margin: auto;

}
.footer{
    width: 960px;
    background-color: #ebebeb;
    margin: auto;

}